<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head.ejs')  %>
<style> 
    p{ 
        text-align: center;
        vertical-align: middle;
        margin: 2rem;
    } 
    .homelink{ 
        display: grid;
        place-content: center;
    }
    a{
        text-decoration: none;
    }
</style>
<body> 
    <%- include('./partials/nav.ejs')  %> 
    <h2><%=text%></h2> 
    <p> name: <%=data.cust_name%> </p> 
    <p>start date:<%=data.start%></p> 
    <p> end date: <%=data.end%> </p> 
    <p>phone: <%=data.cust_num%> </p> 
    <div class="homelink" >
        <a href="/"> CLick here to, Check and Submit again </a> 
    </div>  
    <br>
    <br>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur recusandae veritatis impedit fugiat cum? Cupiditate dolor natus soluta reprehenderit ipsa quod optio dolorum labore perspiciatis autem rem pariatur earum aliquam, tempora voluptate corrupti voluptatum deleniti similique nesciunt! Ab sit minima laborum ipsam praesentium itaque consectetur recusandae deserunt veritatis voluptates magni tenetur laudantium vero, enim illum cupiditate provident earum ex est distinctio, amet eligendi voluptas ad. Provident perspiciatis sed vero repudiandae velit odio quidem assumenda beatae quaerat. Molestiae, officia. Facilis cupiditate optio incidunt? Obcaecati ab illum minima omnis eligendi nulla ex illo pariatur vitae ratione recusandae, aspernatur ad dolore sapiente porro voluptas veniam quia error, inventore, eius odio libero totam? Unde ut, distinctio tenetur possimus dolores magni enim, eaque incidunt voluptatem laudantium molestias. Reprehenderit labore laborum neque delectus voluptatum ex, consequuntur quibusdam quas praesentium perferendis assumenda magni quasi magnam! Repellat cupiditate, provident et vitae quaerat minus, suscipit asperiores incidunt ex quas harum officiis error perferendis illum. A fuga voluptatibus praesentium tempore odit fugiat, aspernatur dolor soluta beatae laboriosam ipsum. Accusantium possimus inventore explicabo laboriosam cumque saepe excepturi amet? At facere ab culpa officiis eaque iste quas illum aut sequi esse mollitia eius, nobis incidunt amet nihil minima. Voluptate voluptatum laborum consequatur.
    </p> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores alias, vitae voluptate aliquam veritatis voluptatum nihil perferendis. Deserunt itaque nam beatae est totam, quaerat dolor? Repellat praesentium error itaque, dolore consequatur atque quia ullam voluptatum, similique necessitatibus at sint a ipsa ut repellendus eius nobis non dolores. Quibusdam veniam corporis praesentium debitis similique a mollitia placeat, quae distinctio quis soluta quas perferendis quia maiores quod quo adipisci nam doloremque natus! Voluptate non tenetur maiores adipisci asperiores, sit, error eos vitae dolor voluptas expedita eum, quidem eveniet magni et odit veniam distinctio pariatur cupiditate! Amet voluptates, necessitatibus praesentium, consectetur saepe doloribus voluptas consequuntur exercitationem repudiandae deserunt cum? Tenetur hic ipsum culpa consequuntur sapiente. Quam dolores culpa commodi suscipit corporis mollitia voluptatum ex pariatur, eaque ipsam sit aliquam dolor at. Aspernatur assumenda consequatur nisi possimus cum, atque cumque officiis laboriosam illo in maiores reiciendis! Ullam unde provident ab recusandae dolorem corporis id explicabo obcaecati sit, molestias voluptatibus ad at molestiae voluptate illo laborum placeat necessitatibus qui iure deleniti ipsa distinctio. Quae laboriosam aliquam repudiandae, saepe numquam impedit quam! Veritatis aliquid reiciendis vel voluptates, nesciunt, exercitationem animi saepe, et laboriosam tenetur illum? Repellendus culpa dicta similique fuga, voluptatem nulla quod corrupti hic qui dolore, beatae quos doloremque iusto magni eaque at assumenda tempore neque pariatur. Quam aperiam voluptate impedit beatae. Dolorem nostrum deleniti quos, laboriosam id ipsam, ullam temporibus molestias cupiditate cumque ipsum laudantium in! Deserunt animi nobis dolores, saepe et magni quasi tempora vero illo optio impedit, fuga odio delectus. Iure vero ullam iste quod possimus corporis placeat deleniti reiciendis nisi. Esse facere laborum mollitia impedit voluptas. Commodi, tempora laboriosam consequatur repudiandae eum maxime alias iste eveniet neque fuga tempore natus architecto accusantium explicabo quasi. Impedit repudiandae deleniti optio adipisci debitis, recusandae dolor voluptates quia neque omnis consequuntur officia! Molestias, enim fuga?</p> 
        
    <%- include('./partials/footer.ejs')  %>
</body>
</html>